body{
    background-image: url(imgback.jpeg);
    align-items:center;
}
.food{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline;
}